:root{
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;  
}

li.nav-item{
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button{
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: filter 300ms;
}

div.dropdown{
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;

  transition: height var(--speed) ease;
}

.menu{
  width: 100%;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.menu-item{
  height: var(--nav-size);
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

.menu-item:hover{
  color: white;
  text-decoration: none;
}

a.menu-item:hover{
  background-color: #525357;
}

.icon-right{
  margin-left: auto;
}

.icon-button svg{
  color: var(--text-color);
  width:20px;
  height:20px;
}

.icon-button:hover{
  filter:brightness(1.2);
}

.navbar-nav1{
  max-width: 100%;
  height: 110%;
  display: flex;
  justify-content: flex-end;
}

nav.navbar1{
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

ul.ul1{
  list-style: none;
  margin: 0;
  padding: 0;
}

a.ula{
  color: var(--text-color);
  text-decoration: none;
}

.mio {
  width: 37px;
  margin-top: 36px;
  cursor: pointer;
  margin-right: 10px;
}



.fileUpload {
  margin: 0 !important;
}
.fileUpload:hover {
  color: red;
}

.progress {
  width: 249px;
  position: absolute;
}

.classNav {
  position: fixed !important;
}

.centered {
  display: flex !important;
}
.plus_mio {
  width: 50px;
  z-index: 99;
  position: absolute;
  top: 225px;
  color: white;
}
.miorounder {
  width: 300px !important;
  height: 300px !important;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  top: 100px;
}
.miorounder:hover {
  cursor: pointer;
  filter: grayscale(0.6);
}

.modalmio {
  position: absolute;
  width: 100vw;
  height: calc(110vh + 400px);
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.squaremio2 {
  background-color: rgb(148, 31, 31);
  flex: 1;
  width: 65%;
}
.squaremio {
  width: 65%;
  flex: 1;
  background-color: rgb(212, 154, 154);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.videoReg {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.miobutn{
    
    background-color: white;
    
    z-index: 9999999!important;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 641px;
}
@media only screen and ( max-width: 920px ){
    /* .positioningREG {
        width: 66vw!important;
    }
     */
    /* .miobutn {
        width: 65vw !important;
    } */
    .videoClass, .positioningREG, .mediaCanvas {
      width: 88vw;
    }
}

#check{
  background-color: black;
  color: white;
}

#check:disabled,
#check[disabled]{
  background-color: #cccccc;
  color: #666666;
}
#check:disabled:hover{
  cursor: progress;
}
#recognition {
  display: none;
}
#absolu{
  position: absolute;
}
#download, #download2, #nofile, #nofile2, #nofile3{
  display: none;
}
@media only screen and ( max-width: 1026px ){
  .mediafix{
    display: flex !important;
    flex-direction: column-reverse !important;
  }

  .nohidden{
    display: flex !important;
    height: 80vh;
  }

}
.positioningREG {
  position: absolute;
}
